@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@media (min-width: 971px) {
  /* line 7, ../scss/countdown.scss */
  section#compteur {
    font-size: 80px;
    height: 95px;
  }
}
@media (min-width: 481px) and (max-width: 970px) {
  /* line 16, ../scss/countdown.scss */
  section#compteur {
    font-size: 50px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  /* line 24, ../scss/countdown.scss */
  section#compteur {
    font-size: 25px;
    height: 35px;
  }
}
/* line 31, ../scss/countdown.scss */
section#compteur {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../.rvm/rubies/ruby-2.0.0-p451/lib/ruby/gems/2.0.0/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
section#compteur::after {
  content: " ";
  display: block;
  clear: both;
}
/* line 33, ../scss/countdown.scss */
section#compteur div#countdown {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  -moz-columns: 1 1 1 1 1 1 1 1;
  -webkit-columns: 1 1 1 1 1 1 1 1;
  columns: 1 1 1 1 1 1 1 1;
}
/* line 12, ../../../../../../.rvm/rubies/ruby-2.0.0-p451/lib/ruby/gems/2.0.0/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
section#compteur div#countdown::after {
  content: " ";
  display: block;
  clear: both;
}
/* line 37, ../scss/countdown.scss */
section#compteur div#countdown div.cd_element {
  width: 12.5%;
  float: left;
  margin-right: 5.26316%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 42, ../scss/countdown.scss */
section#compteur div#countdown div.cd_value {
  text-align: right;
}
/* line 45, ../scss/countdown.scss */
section#compteur div#countdown div.cd_label {
  text-align: center;
}

/* line 52, ../scss/countdown.scss */
div#compteur {
  visibility: hidden;
}
