@import "compass";

.row{
    padding-top:75px;
}

.section-menu {
    h3.first{
        margin-top: 0px;
    }
}

.section{
    table{

        tr{
            .small{
                width:30px;
            }
        }
    }
}