section#main_countdown {
	margin-top: 45%;
}

section#compteur {
	font-size: 100px;
	height: 110px;

	div#until div#cd {
		width: 200px;
		span#cd_days, span#cd_hours, span#cd_minutes, span#cd_seconds {	
			position: absolute;
			display: inline-block;
			float:right;
		}
		span#cd_hours {
			left: 180px;
		}
		span#cd_minutes {
			left: 390px;
		}
		span#cd_seconds {
			left: 620px;
		}
	}
	
	div#labels {
		span#cd_label_j, span#cd_label_h, span#cd_label_m, span#cd_label_s {
			position: absolute;
		}
		span#cd_label_j {
			left: 130px;
		}
		span#cd_label_h {
			left: 290px;
		}
		span#cd_label_m {
			left: 500px;
		}
		span#cd_label_s {
			left: 730px;
		}
	}
}

div#compteur {
	visibility: hidden;
}